<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KE HA ESKE PE</title>
    <link href="/css/HA-PE.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/googleTranslate.css" />
    <link href="https://fonts.googleapis.com/css?family=Architects Daughter" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/architects-draft" rel="stylesheet">
    <script
      type="text/javascript"
      src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    ></script>
  </head>
  <body>
    <div id="google_translate_element"></div>

    <div id="main">
      <div class="navContainer">
        <div id="nav" class="horNavBar noSelect">
          <img id="burgerMenu" src="/icons/menu-icon.svg" alt="menu" />

          <div id="mnu" class="menu">
            <ul id="mnuList" class="menuList">
              <li id="designCont">
                <span id="design">Design</span>

                <ul id="designSubList" class="subList">
                  <li>
                    <span id="exterior">Exterior</span>

                    <ul id="exteriorSubList" class="subList">
                      <li><a href="/design/exterior/all">All</a></li>
                      <li>
                        <a href="/design/exterior/residential">Residential</a>
                      </li>
                      <li>
                        <a href="/design/exterior/commercial">Commercial</a>
                      </li>
                      <li><a href="/design/exterior/office">Office</a></li>
                      <li><a href="/design/exterior/mixed">Mixed</a></li>
                    </ul>
                  </li>

                  <li>
                    <span id="interior">Interior</span>

                    <ul id="interiorSubList" class="subList">
                      <li><a href="/design/interior/all">All</a></li>
                      <li>
                        <a href="/design/interior/residential">Residential</a>
                      </li>
                      <li>
                        <a href="/design/interior/commercial">Commercial</a>
                      </li>
                      <li><a href="/design/interior/office">Office</a></li>
                      <li><a href="/design/interior/mixed">Mixed</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a id="build" href="/build" style="text-decoration: underline"
                  >Built ups</a
                >
              </li>
              <li>
                <a href="/about" id="about" style="text-decoration: underline"
                  >About Us</a
                >
              </li>
              <li>
                <span id="contact">Contact Us</span>

                <ul id="contactSubList" class="subList">
                  <li>
                    <a href="tel:+251922451812">
                      <img src="/icons/phone-331.svg" class="leftContactIcons" alt="phone" id="phone" />
                    </a>
                    <a href="mailto:kehaeskepedb@gmail.com">
                      <img src="/icons/mail-2569.svg" class="contactIcons" alt="Email" />
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.facebook.com/profile.php?id=100084329252772"
                    >
                      <img
                        src="/icons/facebook-logo-108.svg"
                        class="leftContactIcons"
                        alt="facebook"
                      />
                    </a>
                    <a href="https://instagram.com/kehaeskepe?r=nametag">
                      <img
                        src="/icons/black-instagram-transparent-logo-10671.svg"
                        class="contactIcons"
                        alt="Instagram"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/keha-eskepe-a989bb247">
                      <img
                        src="/icons/linkedin-112.svg"
                        class="leftContactIcons"
                        alt="LinkedIn"
                      />
                    </a>
                    <a href="#">
                      <img src="/icons/pinterest-113.svg" class="contactIcons" alt="Pinterest" />
                    </a>
                  </li>
                  <li>
                    <a href="https://t.me/Nebiat_S">
                      <img
                        src="/icons/telegram-5945.svg"
                        class="leftContactIcons"
                        alt="Telegram"
                      />
                    </a>
                    <a href="#">
                      <img src="/icons/whatsapp-4451.svg" alt="Whatsapp" />
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <img
        id="hape"
        src="/images/photo_2022-08-01_06-50-10.jpg"
        alt="KE HA ESKE PE"
      />

      <br />

      <div id="language" class="lang noSelect">
        <div id="english">
          <a id="en" href="#" class="notranslate">EN</a>
        </div>

        <div id="amharic">
          <a id="amh" href="#" class="notranslate">አማ</a>
        </div>
      </div>
    </div>

    <script type="module" src="/js/main.js"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,am",
            autoDisplay: false,
            multilanguagePage: true,
            layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT,
          },
          "google_translate_element"
        );
      }

      function triggerHtmlEvent(element, eventName) {
        var event;

        if (document.createEvent) {
          event = document.createEvent("HTMLEvents");
          event.initEvent(eventName, true, true);
          element.dispatchEvent(event);
        } else {
          event = document.createEventObject();
          event.eventType = eventName;
          element.fireEvent("on" + event.eventType, event);
        }
      }

      am_lang = document.getElementById("amh");
      en_lang = document.getElementById("en");      

      // I enabled language option
      am_lang.addEventListener("click", () => {
        localStorage.setItem("amhClicked", "true");
        jQuery(".goog-te-combo").val("am");
        // window.location = "#googtrans(en|am)";
        window.history.replaceState(null, "", "/#googtrans(en|am)");
        location.reload();        
      });

      en_lang.addEventListener("click", () => {
        localStorage.setItem("amhClicked", "false");
        jQuery(".goog-te-combo").val("en");
        // window.location = "#googtrans(en|en)";
        window.history.replaceState(null, "", "/#googtrans(en|en)");
        location.reload();
        // loading();
      });

      window.onload = function () {
        if (localStorage.getItem("amhClicked") == "true") {
          am_lang.style.borderBottom = "0.1em solid white";
          en_lang.style.borderBottom = "none";
        } else {
          am_lang.style.borderBottom = "none";
        }

        // document.body.parentNode.style.visibility = "hidden";
        // setTimeout(()=>{
        //     document.body.parentNode.style.visibility="visible";   
        // }, 1300);

        // // reload page once
        // if (window.localStorage) {
        //   if (!localStorage.getItem("firstLoad")) {
        //     localStorage["firstLoad"] = true;
        //     window.location.reload();
        //   } else localStorage.removeItem("firstLoad");
        // }
      };

      //when page is loaded from back button, then reload it to change language
      addEventListener('pageshow', (event) => { 
        if(event.persisted)
        {
          location.reload();
          // alert('page is already loaded');
        }
      });

    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="loadingText" style="visibility: hidden;">Loading...</div>
    <button id="loadButton">LoadPage</button>

    <div id="content"></div>
    <script>
        function load(url) {
            // display loading image here...
            document.getElementById('loadingText').style.visibility = "visible";
            // request your data...
            var req = new XMLHttpRequest();
            req.open("GET", url, true);

            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    // content is loaded...hide the gif and display the content...

                    if (req.responseText) {
                        // document.getElementById('content').insertAdjacentHTML("afterbegin",req.responseText);
                        // document.getElementById('content').innerHTML = req.responseText;
                        document.body.parentNode.innerHTML = req.responseText;
                        // document.getElementById('loadingText').style.visibility = "hidden";
                    }
                }
            };
            req.send(null);
        }

        document.getElementById('loadButton').addEventListener('click', ()=>{
            load('http://localhost:3000/design/exterior/residential');
            // load('https://immense-brook-60574.herokuapp.com/');
            // window.location.href += 'design/exterior/residential';
            // window.history.pushState(null, "", window.location.href += 'design/exterior/residential');
        });

        window.onload = ()=>{
          console.log("ss");
        };
    </script>
</body>
</html> -->