* {
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
    background-color: black;
    font-family: 'Architects Daughter';
    font-weight:bold;
    height: 100%;
    color: white;
    display: flex;
    /* overflow: scroll; */
}

/* topbar */
#topbar
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content:right;
    width: 100%;
    height: 7%;
    background-color: transparent;
    z-index: 1;
}

#b_homepage
{
    margin-right: 1em;
    margin-top: auto;
}

/* .material-symbols-outlined { */
.back_icon{
    margin-top: 0px;
    position: relative;
    top: 0.26em;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#b_homepage a
{
    color: white;
    display: block;
    text-align: center;
    padding: 0em 0.6em 0.6em 0.6em;
    text-decoration: none;
}

/* about us */
.aboutus_container
{
    font-size:xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 20%;
    /* background-color: red; */
}

#ke
{
    font-size: 0.5em;
    position: relative;
    bottom: 0.2em;
    padding-left: 0.6em;
}

p
{
    text-indent: 1em;
    text-align: left;
}

p, .location_name, .mail_name, .phone_number
{
    font-weight: 100;
}

.mail_name, .phone_number, .location_name
{
    margin-left: 1em;   
}

.location, .Address
{
    margin-top: 1em;
}

.Adress a, .location a, .Address a:link, .Adress a:visited
{
    /* color: blue; */
    color: white;
}

.Address span, .location span
{
    color: white;
}

.location_icon, .mail_icon, .phone_icon {
    color: white;
    scale: 1.3;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* hover effect for only desktop */
@media (hover: hover){
    #b_homepage a:hover
    {
        color: black;
        background-color: white;
        border-radius: 1em;
    }
}

/**************************************/
@media screen and (max-width: 1630px) and (min-width: 1287px)
{
    .aboutus_container
    {
        margin: 0em 5%;
        /* background-color: red; */
    }
}

@media screen and (max-width: 1286px) and (min-width: 1025px)
{
    .aboutus_container
    {
        font-size: x-large;
        margin: 0em 5%;
        /* background-color: red; */
    }

    .location_icon, .mail_icon, .phone_icon {
        scale: 1;
        position: relative;
        top: 0.2em;
        left: 0.3em;
    }
}
/**************************************/

@media screen and (max-width: 1024px) {
    #b_homepage a
    {
        font-size: small;
    }
    .aboutus_container
    {
        font-size: x-large;
        margin: 0em 5%;
    }

    .location_icon, .mail_icon, .phone_icon {
        scale: 1;
        position: relative;
        top: 0.2em;
        left: 0.3em;
    }
}


@media screen and (max-width: 600px) {
    #b_homepage a
    {
        font-size: x-small;
    }

    .back_icon
    {
        top: 0.35em;
    }

    .aboutus_container
    {
        font-size: small;
    }    

    .location_icon, .mail_icon, .phone_icon {
        /* background-color: red; */
        position: relative;
        top: 0.3em;
        scale: 0.6;
    }
}

/*  */
/* .aboutus_container
{
    font-size: small;
    margin: 0em 5%;
    background-color: red;
} */
/*  */
/*  */
/* body::before
{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
    z-index: 2;
} */
/*  */