html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}


body{ 
    font-family: 'Architects Daughter';
    overflow: hidden;
    text-align: center;
    background-color: black;
    font-weight: bold;
}

/* Background and ha-pe image*/

#hape{
    position: relative;
    top: 40%;
    width: 30%;
    transform: translateX(-1.2%);
    z-index: 2;
}

#main{
    margin: 0;
    padding: 0;
    background-image: url("https://immense-brook-60574.herokuapp.com/images/wp10820040-half-black-half-white-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    width: 100%;
}

/* Menu */


@keyframes dropMenu {
    0% {
        opacity: 0;
        visibility: hidden;
        
   }
   100% {
        opacity: 1;
        visibility: visible;
       
   }
}

@keyframes hideMenu {
    0% {
        opacity: 1;
        
   }
   100% {
       
       opacity: 0;
     
   }
}

@keyframes subListDropDown {
    0%{
        height: 0em;
    }
    100%{
        height: 9em;
    }
}

@keyframes subListHide {
    0%{
        height: 9em;
    }
    100%{
        height: 0em;
    }
}

@keyframes designListDropDown {
    0%{
        height: 0em;
    }
    80%{
        height: 3.8em;
    }
    100%{
        height: fit-content;
    }
}

@keyframes designListHide1 {
    0%{
        height: 3.8em;
    }
    
    100%{
        height: 0em;
    }
}

@keyframes designListHide2 {
    0%{
        height: 11.8em;
    }
    
    100%{
        height: 0em;
    }
}

@keyframes designListHide3 {
    0%{
        height: 19.4em;
    }
    
    100%{
        height: 0em;
    }
}

.navContainer{
    display: flex;
    justify-content:flex-end;
    position: fixed;
    height: fit-content;
    width: 100%;
    z-index: 2;
}


.horNavBar{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 0.5em 0.5em 0 0;
    padding: 0;
    font-size:large;
}

#burgerMenu{
    height: 1.5em;
    width: 2em;
    cursor: pointer;
}

.menu{
    width: fit-content;
    color: white;
    padding: 0;
    margin: 0;
}

.menuList{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.menuList > li{
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
}

.menuList li span{
    text-decoration: underline;
}

#exterior, #interior{
    letter-spacing: 0.2em;
    text-decoration: none;
    font-size: 1.05em;
    display: block;
    margin-left: 0.5em;
}
#interior{
    margin-left: 0.9em;
}

.subList{
    display: none;
    align-items: flex-end;
    flex-direction: column;
    width: fit-content;
    height: 0;
    color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size:large;
  
}

.subList > li{
    opacity: 0;
    visibility: hidden;
    margin: 0.5em 0 0 0;
    letter-spacing: 0.1em;
}

#exteriorSubList, #interiorSubList{
    font-size: 0.85em;
    letter-spacing: 0.1em;
    margin-left: 1em;
}

#designSubList{
    font-size: large;
}

#contactSubList img{
    height: 1.85em;
    width: 1.85em;
}

#phone{
    margin-right: 2em; 
    height: 1.2em; 
    width: 1.2em;
}

#interiorSubList  li:hover, #exteriorSubList  li:hover{
    text-decoration: underline;
}


/* Language Option */

.lang{
    position: relative;
    display: flex;
    justify-content: center;
    top: 65%;
    height: fit-content;
    gap: 6em;
    margin: 0; 
}

#amharic{
    z-index: 2;
    padding: 0;
    font-size: 1.3em;
    height: fit-content;
    width: fit-content;
    
}

#amharic a{
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.3em;
   
}

#english{
    z-index: 2;
    padding: 0;
    font-size: 1.3em;
    height: fit-content;
    width: fit-content;
}

#english a{
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.3em;
    border-bottom: 0.1em solid black;
}

#amharic a:hover{
    border-bottom: 0.1em solid white;
}

#english a:hover{
    border-bottom: 0.1em solid black;
}


@media screen and (max-width: 640px) {

    #main{
        margin: 0;
        padding: 0;
        background-image: url("/images/wp10820040-half-black-half-white-wallpapers.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: 50%;
        height: 100%;
        width: 100%;
    }
    
    #hape{
        position: relative;
        top: 40%;
        width: 60%;
        transform: translateX(-1.2%);
        z-index: 1;
    }

    .horNavBar{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        margin: 0.5em 0.5em 0 0;
        padding: 0;
        font-size: small;
        z-index: 99;
    }

    .subList{
        display: none;
        align-items: flex-end;
        flex-direction: column;
        width: fit-content;
        height: 0;
        color: white;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: small;
    }

    #exterior, #interior{
        letter-spacing: 0.2em;
        text-decoration: none;
        font-size: small;
        margin-left: 2em;
    }
    #interior{
        margin-left: 2.5em;
    }
    
    #exteriorSubList, #interiorSubList{
        font-size: small;
        margin-left: 1em;
    }
    
    #designSubList{
        font-size: small;
    }

    .subList > li{
        opacity: 0;
        visibility: hidden;
        margin: 0.5em 0 0 0;
    }

    .lang{
        position: relative;
        display: flex;
        justify-content: center;
        top: 70%;
        font-size: small;
    }

    #contactSubList img{
        height: 1.7em;
        width: 1.7em;
    }

    #phone{
        margin-right: 2em; 
        height: 1.5em; 
        width: 1.5em;
    }
}

 @media screen and (min-width: 641px) and (max-width: 1007px) {

    #main{
        margin: 0;
        padding: 0;
        background-image: url("/images/wp10820040-half-black-half-white-wallpapers.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: 50%;
        height: 100%;
        width: 100%;
    }
    
    #hape{
        position: relative;
        top: 40%;
        width: 50%;
        transform: translateX(-1.3%);
        z-index: 1;
    
    }

    .horNavBar{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        margin: 0.5em 0.5em 0 0;
        padding: 0;
        font-size: medium;
        z-index: 99;
    }
    .subList{
        display: none;
        align-items: flex-end;
        flex-direction: column;
        width: fit-content;
        height: 0;
        color: white;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: medium;
    }

    #exterior, #interior{
        letter-spacing: 0.2em;
        text-decoration: none;
        font-size: medium;
        margin-left: 2em;
    }
    #interior{
        margin-left: 2.5em;
    }
    
    #exteriorSubList, #interiorSubList{
        font-size: medium;
        letter-spacing: 0.1em;
        margin-left: 1em;
    }
    
    #designSubList{
        font-size: medium;
    }

    .subList > li{
        opacity: 0;
        visibility: hidden;
        margin: 0.5em 0 0 0;
    }

    .lang{
        position: relative;
        display: flex;
        justify-content: center;
        top: 70%;
        font-size: medium;
    }

    /* #contactSubList img{
        height: 1em;
        width: 1em;
    }

    #phone{
        margin-right: 1em; 
        height: 1.4em; 
        width: 1.4em;
    } */

    #contactSubList img{
        height: 1.85em;
        width: 1.85em;
    }

    #phone{
        margin-right: 2em; 
        height: 1.2em; 
        width: 1.2em;
    }

}

